<<<<<<< HEAD
<center><p id="label">
=======
<center>
<font color="#58F26C">
<p>
>>>>>>> ef78e8a49fb5406dd8b937353c720368335afdd8
    <strong>Name:</strong>
    <%= @character.name %>
</p>

<p id="label">
    <strong>Gender:</strong>
    <%= @character.gender %>
</p>

<p id="label">
    <strong>Race:</strong>
    <%= @character.race %>
</p>

<p id="label">
    <strong>Class:</strong>
    <%= @character.charclass %>
</p id="label">

<p id="label">
    <strong>Story:</strong>
    <%= @character.story %>
</p>
</font>

<<<<<<< HEAD
<h2 id="label">Abilities</h2>
=======
<font color="red">
<h2>Abilities</h2>
>>>>>>> ef78e8a49fb5406dd8b937353c720368335afdd8
<%= render 'abilities/abilities' %>
</font>

<<<<<<< HEAD
<h2 id="label">Add an Ability</h2>
=======
<font color="#58F26C">
<h2>Add an Ability</h2>
>>>>>>> ef78e8a49fb5406dd8b937353c720368335afdd8
<%= render 'abilities/form' %>
<%= link_to 'Characters', characters_path %></center>
</font>