<center><p>
    <strong>Name:</strong>
    <%= @character.name %>
</p>

<p>
    <strong>Gender:</strong>
    <%= @character.gender %>
</p>

<p>
    <strong>Race:</strong>
    <%= @character.race %>
</p>

<p>
    <strong>Class:</strong>
    <%= @character.charclass %>
</p>

<p>
    <strong>Story:</strong>
    <%= @character.story %>
</p>

<h2>Abilities</h2>
<%= render 'abilities/abilities' %>

<h2>Add an Ability</h2>
<%= render 'abilities/form' %>
<%= link_to 'Characters', characters_path %></center>