<center><p id="label">
    <strong>Name:</strong>
    <%= @character.name %>
</p>

<p id="label">
    <strong>Gender:</strong>
    <%= @character.gender %>
</p>

<p id="label">
    <strong>Race:</strong>
    <%= @character.race %>
</p>

<p id="label">
    <strong>Class:</strong>
    <%= @character.charclass %>
</p id="label">

<p id="label">
    <strong>Story:</strong>
    <%= @character.story %>
</p>

<h2 id="label">Abilities</h2>
<%= render 'abilities/abilities' %>

<h2 id="label">Add an Ability</h2>
<%= render 'abilities/form' %>
<%= link_to 'Characters', characters_path %></center>