<center class="label"><p>
<% if @character.image.exists? %>
<p class="label">
    <strong>Image</strong>
    <%= image_tag @character.image.url(:medium) %>
</p>
<% end %>
<p class="label">
    <strong>Name:</strong>
    <%= @character.name %>
</p>

<p class="label">
    <strong>Gender:</strong>
    <%= @character.gender %>
</p>

<p class="label">
    <strong>Race:</strong>
    <%= @character.race %>
</p>

<p class="label">
    <strong>Class:</strong>
    <%= @character.charclass %>
</p>

<p class="label">
    <strong>Story:</strong>
    <%= @character.story %>
</p>
</font>

<h2 class="label">Abilities</h2>
<font color="red">
<%= render 'abilities/abilities' %>
</font>

<h2 class="label">Add an Ability</h2>
<%= render 'abilities/form' %>
<%= link_to 'Characters', characters_path %></center>
</font>