<center><p>
    <strong>Name:</strong>
    <%= @character.name %>
</p>

<p>
    <strong>Gender:</strong>
    <%= @character.gender %>
</p>

<p>
    <strong>Race:</strong>
    <%= @character.race %>
</p>

<p>
    <strong>Class:</strong>
    <%= @character.charclass %>
</p>

<p>
    <strong>Story:</strong>
    <%= @character.story %>
</p>

<center><%= link_to 'Characters', characters_path %></center>